@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap');

/*
body * {
    border: 2px solid red;
}
*/

* {
    margin: 0;
    padding: 0;
}

/*
html {
    background: #0075A2 url(images/background00.jpg) no-repeat fixed center;
    background-size:cover;
}
*/

body {
    display:flex;
    justify-content:center;
    min-height: 100vh;
    align-items:center;
    color:white;
    font-size:10vw;
    font-family: 'Akshar', sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: transparent;
    color: white;
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
    border: none;
    margin: 1rem;
}

button:hover {
    transform: scale(1.1);
}

#analogue-clock {
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 50vh;
    max-height: 50vh;
    border: 15px solid white;
    border-radius: 50%;
    padding: 2rem;
    background-color:rgba(0,0,0,0.6);
}

#analogue-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    position: absolute;
    width: 50%;
    height: 10px;
    top: 50%;
    background: white;
    border-radius: 1rem 0 0 1rem;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s linear;
}

#hour-hand {
    width: 40%;
    left: 10%;
}

#digital-clock {
    position: relative;
    width : 100%;
    max-width: 60vw;
    aspect-ratio: 3/1;
    background-color:rgba(0,0,0,0.6);
    border: 10px solid white;
}

#digital-clock-face {
    position:relative;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

.digital {
    flex: 33%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    position:relative;
}
